#contain {
	margin-top: 30px;
	margin-bottom: 50px;
}

#questions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.card {
  color: black;
  background-color: rgba(245,245,245,.4);
}
.card:hover {
  background-color: rgba(0,0,0,.4);
  color: white;
  border-radius: 15px;
}

Link {
	textDecoration: 'none' 
}