#contain {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -60%);
}

.contains {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -65%);
}

#responses {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.cards:hover {
  background-color: rgba(245,245,245,.9);
  border-radius: 15px;
}

.cards {
  margin-top: 50[]
}
button:focus { outline:0 !important; }

#settings {
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  opacity: .6;
}

#settings:hover {
  opacity: 1;
}

#linkresponses {
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  margin-top: 10px;
  right: 30px;
  opacity: .6;
}

#linkresponses:hover {
  opacity: 1;
}