#contain {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -60%);
}

#responses {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.cards:hover {
  background-color: rgba(245,245,245,.9);
  border-radius: 15px;
}